**PRE LAB**

In [ ]:
'''
190031554
1. What is probability?
	    Probability is how likely something will happen or occur.
Probability of an event is defined as
 P(A)=Number of favourable outcomes to A/Total number of possible outcomes.

2.  What is Marginal probability
		Marginal probability is the probability of an event irrespective of the outcome of another variable. 

3. What is joint probability
Joint probability is the probability of two events occurring simultaneously.

4. What is conditional probability
Conditional probability is the probability of one event occurring with some relationship to one or more other events.
'''

**IN LAB**

In [ ]:

List1 = [[1,'sunny','sunny'],[2,'cloudy','cloudy'],[3,'sunny','cloudy'],[4,'cloudy','cloudy'],[5,'sunny','sunny'],[6,'cloudy','cloudy'],
       [7,'rainy','rainy'],[8,'sunny','sunny'],[9,'rainy','rainy'],[10,'sunny','cloudy'],[11,'cloudy','cloudy'],[12,'rainy','rainy'],
       [13,'sunny','sunny'],[14,'rainy','cloudy'],[15,'cloudy','rainy'],[16,'sunny','sunny'],[17,'cloudy','sunny'],[18,'cloudy','cloudy'],
       [19,'cloudy','rainy'],[20,'sunny','sunny']]
df = pd.DataFrame(List1,columns = ['Day','Vijayawada','Hyderabad'])
df.head(7)

   Day Vijayawada Hyderabad
0    1      sunny     sunny
1    2     cloudy    cloudy
2    3      sunny    cloudy
3    4     cloudy    cloudy
4    5      sunny     sunny
5    6     cloudy    cloudy
6    7      rainy     rainy

In [ ]:
#190031554 Importing 
import pandas as pd
import numpy as np
import math

In [ ]:
# a.	Calculate the joint probability p(Vijayawada=sunny, Hyderabad=sunny), it can be noted as p(sunny, sunny).
c=0
t=df['Day'].count()
for ind in df.index:
  if((df['Vijayawada'][ind]=='sunny')&(df['Hyderabad'][ind]=='sunny')):
      c=c+1
Probability=c/t
print("Joint Probability is",Probability)

Joint Probability is 0.3

In [ ]:
#b.	Calculate the joint probability p(Vijayawada=cloudy, Hyderabad=sunny), it can be noted as p(cloudy, rainy).
c=0
t=df['Day'].count()
for ind in df.index:
  if((df['Vijayawada'][ind]=='cloudy')&(df['Hyderabad'][ind]=='sunny')):
      c=c+1
Probability=c/t
print("Joint Probability is",Probability)

Joint Probability is 0.05

In [ ]:
# c.	Calculate the joint probability p(Vijayawada=rainy, Hyderabad=sunny), it can be noted as p(rainy, rainy).
c=0
t=df['Day'].count()
for ind in df.index:
  if((df['Vijayawada'][ind]=='rainy')&(df['Hyderabad'][ind]=='sunny')):
      c=c+1
Probability=c/t
print("Joint Probability is",Probability)

Joint Probability is 0.0

In [ ]:
#d.	Calculate the joint probability p( Vijayawada=rainy, Hyderabad=rainy), it can be noted as p(sunny, sunny).
c=0
t=df['Day'].count()
for ind in df.index:
  if((df['Vijayawada'][ind]=='rainy')&(df['Hyderabad'][ind]=='rainy')):
      c=c+1
Probability=c/t
print("Joint Probability is",Probability)

Joint Probability is 0.15

In [ ]:
#e.	Calculate the joint probability p(Vijayawada=cloudy, Hyderabad=cloudy), it can be noted as p(cloudy, rainy).
c=0
t=df['Day'].count()
for ind in df.index:
  if((df['Vijayawada'][ind]=='cloudy')&(df['Hyderabad'][ind]=='cloudy')):
      c=c+1
Probability=c/t
print("Joint Probability is",Probability)

Joint Probability is 0.25

**POST LAB**

In [ ]:
#a.	Calculate the joint probability p(Vijayawada=sunny, Hyderabad=cloudy), it can be noted as p(sunny, cloudy).
c=0
t=df['Day'].count()
for ind in df.index:
  if((df['Vijayawada'][ind]=='sunny')&(df['Hyderabad'][ind]=='cloudy')):
      c=c+1
Probability=c/t
print("Joint Probability is",Probability)

Joint Probability is 0.1

In [ ]:
# b.	Calculate the joint probability p( Vijayawada=cloudy, Hyderabad=rainy), it can be noted as p(cloudy, rainy).
c=0
t=df['Day'].count()
for ind in df.index:
  if((df['Vijayawada'][ind]=='cloudy')&(df['Hyderabad'][ind]=='rainy')):
      c=c+1
Probability=c/t
print("Joint Probability is",Probability)

Joint Probability is 0.1

In [ ]:
#c.	Calculate the joint probability p(Vijayawada=rainy, Hyderabad=cloudy), it can be noted as       p( rainy, cloudy).
c=0
t=df['Day'].count()
for ind in df.index:
  if((df['Vijayawada'][ind]=='rainy')&(df['Hyderabad'][ind]=='cloudy')):
      c=c+1
Probability=c/t
print("Joint Probability is",Probability)

Joint Probability is 0.05