In [ ]:
'''
190031554 -- SuryaTeja Koka
In-lab.


Data-set

The Iris flower data set or Fisher's Iris data set is a multivariate data set introduced by the British statistician, eugenicist, and biologist Ronald Fisher in his 1936. The data set consists of 50 samples from each of three species of Iris (Iris setosa, Iris virginica and Iris versicolor). Four features were measured from each sample: the length and the width of the sepals and petals, in centimetres. Based on the combination of these four features, Fisher developed a linear dis-criminant model to distinguish the species from each other. The dataset is available in following link.

https://www.kaggle.com/arshid/iris-flower-dataset



1. Read data from the .CSV file. Get the basic statistics like mean, median, variance and standard deviation of the attributes sepal_length, sepal_width,petal_length, petal_width  of the data set.
2. Find the co-relation between the attributes (sepal_length, sepal_width) and (petal_length, petal_with)
3. Make a linear transformation of the attribute sepal_length by adding 1.5 to it. Similarly make a linear transformation of the attribute petal_length by multiplying two.
4. Now find the co-relation between the attributes (sepal_length, sepal_width) and (petal_length, petal_with). Then analyze it and draw conclusion.
5. Make a linear transformation of the attribute sepal_length by subtracting 1.5 from it. Similarly make a linear transformation of the attribute petal_length by dividing two.
6. Now find the co-relation between the attributes (sepal_length, sepal_width) and (petal_length, petal_with). Then analyze it and draw conclusion.

'''

In [27]:
# importing the essential libraries : 190031554 
import numpy as np
from sklearn import preprocessing
import pandas as pd

In [39]:
df = pd.read_csv("Iris.csv")
df.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [5]:
# 1. Read data from the .CSV file. Get the basic statistics like mean, median, variance and standard deviation of the attributes sepal_length, sepal_width, petal_length, petal_width  of the data set.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

In [6]:
# single one to caluclate all things like std,mean,count
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
df.var()

Id               1887.500000
SepalLengthCm       0.685694
SepalWidthCm        0.188004
PetalLengthCm       3.113179
PetalWidthCm        0.582414
dtype: float64

In [12]:
# 2. Find the co-relation between the attributes (sepal_length, sepal_width) and (petal_length, petal_with)
df['SepalLengthCm'].corr(df['SepalWidthCm'])

-0.10936924995064937

In [14]:
df['PetalLengthCm'].corr(df['PetalWidthCm'])

0.9627570970509663

In [15]:
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

In [17]:
other = df
other.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
# 3. Make a linear transformation of the attribute sepal_length by adding 1.5 to it. Similarly make a linear transformation of the attribute petal_length by multiplying two.
other['SepalLengthCm'] = other['SepalLengthCm'] + 1.5
other.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            9.6           3.5            1.4           0.2  Iris-setosa
1   2            9.4           3.0            1.4           0.2  Iris-setosa
2   3            9.2           3.2            1.3           0.2  Iris-setosa
3   4            9.1           3.1            1.5           0.2  Iris-setosa
4   5            9.5           3.6            1.4           0.2  Iris-setosa

In [36]:
df2['PetalLengthCm'] = df2['PetalLengthCm'] * (2)

In [37]:
# 4. Now find the co-relation between the attributes (sepal_length, sepal_width) and (petal_length, petal_with). Then analyze it and draw conclusion
other['SepalLengthCm'].corr(other['SepalWidthCm'])

-0.10936924995064953

In [38]:
other['PetalLengthCm'].corr(other['PetalWidthCm'])

0.9627570970509663

In [25]:
other.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

In [ ]:
'''
The Conclusion is that the correlation doesnt change upon making linear transformations
'''

In [29]:
# copied the dataframe to another dataframe(df2) -- To save it from messing
df2 = df.copy()
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            9.6           3.5            1.4           0.2  Iris-setosa
1   2            9.4           3.0            1.4           0.2  Iris-setosa
2   3            9.2           3.2            1.3           0.2  Iris-setosa
3   4            9.1           3.1            1.5           0.2  Iris-setosa
4   5            9.5           3.6            1.4           0.2  Iris-setosa

In [30]:
# 5. Make a linear transformation of the attribute sepal_length by subtracting 1.5 from it. Similarly make a linear transformation of the attribute petal_length by dividing two.
df2['PetalLengthCm'].corr(df2['PetalWidthCm'])

0.9627570970509663

In [41]:
other['SepalLengthCm'] = other['SepalLengthCm'] - 1.5

In [40]:
df2['PetalLengthCm'] = df2['PetalLengthCm'] / (2)

In [33]:
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            9.6           3.5            1.0           0.2  Iris-setosa
1   2            9.4           3.0            1.0           0.2  Iris-setosa
2   3            9.2           3.2            1.0           0.2  Iris-setosa
3   4            9.1           3.1            1.0           0.2  Iris-setosa
4   5            9.5           3.6            1.0           0.2  Iris-setosa

In [42]:
# 6. Now find the co-relation between the attributes (sepal_length, sepal_width) and (petal_length, petal_with). Then analyze it and draw conclusion.
df2['SepalLengthCm'].corr(df2['SepalWidthCm'])

-0.10936924995064953

In [43]:
other['PetalLengthCm'].corr(other['PetalWidthCm'])

0.9627570970509663

In [44]:
df2.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,NaN,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,NaN,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,NaN,-0.356544
PetalLengthCm,NaN,NaN,NaN,NaN,NaN
PetalWidthCm,0.899759,0.817954,-0.356544,NaN,1.000000

In [ ]:
'''
The Conclusion is that the correlation doesnt change upon making linear transformations
'''