In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Heart.csv')

In [ ]:
df

     Unnamed: 0  Age  Sex     ChestPain  ...  Slope   Ca        Thal  AHD
0             1   63    1       typical  ...      3  0.0       fixed   No
1             2   67    1  asymptomatic  ...      2  3.0      normal  Yes
2             3   67    1  asymptomatic  ...      2  2.0  reversable  Yes
3             4   37    1    nonanginal  ...      3  0.0      normal   No
4             5   41    0    nontypical  ...      1  0.0      normal   No
..          ...  ...  ...           ...  ...    ...  ...         ...  ...
298         299   45    1       typical  ...      2  0.0  reversable  Yes
299         300   68    1  asymptomatic  ...      2  2.0  reversable  Yes
300         301   57    1  asymptomatic  ...      2  1.0  reversable  Yes
301         302   57    0    nontypical  ...      2  1.0      normal  Yes
302         303   38    1    nonanginal  ...      1  NaN      normal   No

[303 rows x 15 columns]

In [ ]:
df['sex1']=df.Sex.replace({1:'male',0:'female'})

In [ ]:
dx=df[['AHD','sex1']].dropna()

In [ ]:
dx

     AHD    sex1
0     No    male
1    Yes    male
2    Yes    male
3     No    male
4     No  female
..   ...     ...
298  Yes    male
299  Yes    male
300  Yes    male
301  Yes  female
302   No    male

[303 rows x 2 columns]

In [ ]:
pd.crosstab(df.AHD, df.sex1)

sex1  female  male
AHD
No        72    92
Yes       25   114

In [ ]:
pf_yes=25
n1=72+25
p_female=pf_yes/n1
p_female

0.25773195876288657

In [ ]:
pm_yes=114
n2=114+92
p_male=pm_yes/n2
p_male

0.5533980582524272

In [ ]:
n=303

In [ ]:
SE_female=np.sqrt(p_female*(1-p_female)/n1)
SE_female

0.044409783007282766

In [ ]:
SE_male=np.sqrt(p_male*(1-p_male)/n2)
SE_male

0.03463741785139291

In [ ]:
z_score=1.96

In [ ]:
lcb=p_female-z_score*SE_female
lcb

0.17068878406861235

In [ ]:
ucb=p_female+z_score*SE_female
ucb

0.3447751334571608

In [ ]:
SE_difference=np.sqrt(SE_female**2+SE_male**2)
SE_difference

0.0563203297412749