In [6]:
#190031554 Importing libraries
import numpy as np
import pandas as pd

In [16]:
#190031554 Importing files
df = pd.read_csv("kerala.csv")
df.head(7)

  SUBDIVISION  YEAR   JAN   FEB  ...    NOV    DEC   ANNUAL RAINFALL  FLOODS
0      KERALA  1901  28.7  44.7  ...  350.8   48.4            3248.6     YES
1      KERALA  1902   6.7   2.6  ...  158.3  121.5            3326.6     YES
2      KERALA  1903   3.2  18.6  ...  157.0   59.0            3271.2     YES
3      KERALA  1904  23.7   3.0  ...   33.9    3.3            3129.7     YES
4      KERALA  1905   1.2  22.3  ...   74.4    0.2            2741.6      NO
5      KERALA  1906  26.7   7.4  ...  163.1   86.0            2708.0      NO
6      KERALA  1907  18.8   4.8  ...  219.1   52.8            3671.1     YES

[7 rows x 16 columns]

In [17]:
# 190031554 Changing the target column to numeric values
df["FLOODS"] = df["FLOODS"].map({"YES": 1, "NO": 0})

In [19]:
#190031554 truth table 
df["JUN_GT_500"] = (df["JUN"] > 500).astype("int")
df["JUL_GT_500"] = (df["JUL"] > 500).astype("int")
df_small = df.loc[:, ["YEAR", "JUN_GT_500", "JUL_GT_500", "FLOODS"]]
df_small["COUNT"] = 1
df_small.head(9)

   YEAR  JUN_GT_500  JUL_GT_500  FLOODS  COUNT
0  1901           1           1       1      1
1  1902           0           1       1      1
2  1903           1           1       1      1
3  1904           1           1       1      1
4  1905           1           1       0      1
5  1906           0           1       0      1
6  1907           1           1       1      1
7  1908           1           1       0      1
8  1909           1           1       1      1

In [20]:
df_small.shape

(118, 5)

In [21]:
#190031554 Creating the tabular data based on the counts
pd.crosstab(df_small["FLOODS"], df_small["JUN_GT_500"])

JUN_GT_500   0   1
FLOODS
0           19  39
1            6  54

In [14]:
#190031554
#P(F) - probability of flooding
#P(J) - probability of having more than 500 mm rain in june
#p(F AND J)-probability of flooding AND probability of having
#more than 500 mm rain in june
P_F = (6 + 54) / (6 + 54 + 19 + 39)
P_J = (39 + 54) / (6 + 54 + 19 + 39)
P_F_intersect_J = 54 / (6 + 54 + 19 + 39)
print(f"P(F): {P_F}") 
print(f"P(J): {P_J}")
print(f"P(F AND J): {P_F_intersect_J}")

P(F): 0.5084745762711864
P(J): 0.788135593220339
P(F AND J): 0.4576271186440678

In [3]:
# 190031554 Now calculate probailitity of flood given 
#it rained more than 500 mm in June (P(A|B))
P_F_J = P_F_intersect_J / P_J
print(f"P(F|J): {P_F_J}")

P(F|J): 0.5806451612903226

In [4]:
# 190031554 Probability of rain more than 500 mm 
#in June given it flooded that year (P(B|A))
P_J_F = (P_F_J * P_J) / P_F
print(f"P(J|F): {P_J_F}")

P(J|F): 0.9000000000000001

In [22]:
#190031554 We can similarly do it for july
pd.crosstab(df_small["FLOODS"], df_small["JUL_GT_500"])

JUL_GT_500   0   1
FLOODS
0           19  39
1            3  57

In [15]:
#190031554 We can similarly do it for july
P_F = (3 + 57) / (3 + 57 + 19 + 39)
P_J = (39 + 57) / (3 + 57 + 19 + 39)
P_F_intersect_J = 57 / (3 + 57 + 19 + 39)
print(f"P(F): {P_F}") 
print(f"P(J): {P_J}")
print(f"P(F AND J): {P_F_intersect_J}")

P(F): 0.5084745762711864
P(J): 0.8135593220338984
P(F AND J): 0.4830508474576271

In [12]:
#190031554 Now calculate probailitity of flood 
#given it rained more than 500 mm in July
P_F_J = P_F_intersect_J / P_J
print(f"P(F|J): {P_F_J}")

P(F|J): 0.59375

In [13]:
#190031554 Probability of rain more than 500 mm 
#in July given it flooded that year (P(B|A))
P_J_F = (P_F_J * P_J) / P_F
print(f"P(J|F): {P_J_F}")

P(J|F): 0.9500000000000002

In [ ]:
#****************190031554 LAB 5 END******************